/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    /*colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-cards: #282623;
    --black: #201E1C;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 128.57px;
    height: 24.01px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 40px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color:var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border:none;
    border-radius:5px;
    font-size: 1.4rem;
    font-weight:bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icon/down.svg);
}

main { 
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exchange-container  .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: no-repeat;
}

.main--exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-container  h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main--exchange-container  p {
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}


.main--currency-table, .main--comisions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter",sans-serif;
}

.main--currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight:bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: left;
    margin-left: 20px;
}

.main--comisions-table .comisions-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight:bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: left;
    margin-left: 20px;
}

.currency-table--container, .comisions-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.comisions-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td,.comisions-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left, .comisions-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right,.comisions-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,.comisions-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right,.comisions-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right, .comisions-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("/assets/icon/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("/assets/icon/trending-up 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--currency-table .currency-table--date{
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
    width: 190px;
    height:31px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius:8px;
}

.currency-table--date p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main--comisions-table .comisions-table--date{
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
    width: 190px;
    height:31px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius:8px;
}

.comisions-table--date p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main--product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("/assets/icon/bata.svg");
}

.main--product-detail .main--product-detail--title{
    text-align: center;
    width: 90%;
    height:auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    min-width: 288px;
    max-width: 900px;
}

.main--product-detail--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main--product-detail--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-cards--container .product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height:150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black-cards);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-cards--container .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icon/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-cards--container .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icon/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-cards--container .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icon/dollar-sign\ 1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-cards--container .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icon/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcon-img-container{
    width:100%;
    min-width: 320px;
    height: 60vh;
    background-image: url("/assets/img/bitcoinbaby2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.bitcon-img-container h2 {
    padding-top: 40px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    gap: 40px;
}

.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
.plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px
}

.plans--title h2 {
    padding-top:50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p { 
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0; 
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 3, 0.16);
    scroll-snap-align: center;
}

.plans-container--card .recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;

}

.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
}

.plan-card--price span {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(30% - 40px);
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;

}

.plan-card--ca {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: var(--off-white);
    border-radius: 4px;
    border: 2px solid #F7931A;
    font-size: 1.4rem;font-weight: bold;
    line-height: 1.8rem;
    text-align:center;
    color: var(--black);
    font-family: "DM sans",sans-serif;
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon/arrow-right\ 1.svg");
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .left li {
    text-decoration: none;
    color: var(--just-white);
}